@-webkit-keyframes disappear {
  0% {
    opacity: 0.9;
    z-index: 5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    z-index: -9;
  }
}
@keyframes disappear {
  0% {
    opacity: 0.9;
    z-index: 5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    z-index: -9;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    width: 20vw;
  }
  50% {
    width: 30vw;
  }
  75%, 100% {
    width: 40vw;
    transform: rotate(720deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    width: 20vw;
  }
  50% {
    width: 30vw;
  }
  75%, 100% {
    width: 40vw;
    transform: rotate(720deg);
  }
}
@-webkit-keyframes slide {
  0% {
    top: 20px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    top: 20px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
body {
  margin: 0px;
  font-family: Roboto, sans-serif;
}

.loading_spinner {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-image: linear-gradient(#FF79DA, #9356DC);
  opacity: 0.9;
  -webkit-animation: disappear 3000ms 1s ease-in-out forwards;
          animation: disappear 3000ms 1s ease-in-out forwards;
}
.loading_spinner .loading-logo {
  width: 5vw;
  color: #99E2D0;
  -webkit-animation: spin 3000ms ease-in-out forwards;
          animation: spin 3000ms ease-in-out forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

header {
  width: 100%;
}

.header_logo {
  text-align: center;
  padding: 20px 0px 10px 0px;
  height: 5vh;
}

.logo {
  width: 150px;
}

#arrow {
  width: 20px;
  height: 20px;
  color: black;
  font-size: large;
  position: absolute;
  top: 20px;
  left: 30px;
}

.location {
  background-color: #eaeaea;
  padding: 20px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 3px 3px 10px 1px #d4d4d4 inset;
}

.location_logo {
  margin-right: 10px;
}

.headerbottom {
  background-color: #f6f6f6;
  height: 40vh;
}
.headerbottom .title {
  padding-top: 30px;
  font-size: 1.7rem;
  font-weight: 900;
  width: 63vw;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
.headerbottom .ligne2 {
  font-size: 1.15rem;
  font-weight: lighter;
  width: 90vw;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
.headerbottom .explore {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vh 2vw 0.5vh 2vw;
  height: 50px;
  width: 200px;
  border-radius: 50px;
  color: white;
  background-image: linear-gradient(#FF79DA, #9356DC);
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 3px 3px 10px 1px #d4d4d4;
}
.headerbottom .explore:hover {
  cursor: pointer;
  box-shadow: 10px 10px 10px 1px #d4d4d4;
  background-image: linear-gradient(#ff93e1, #a16be0);
}

@media screen and (min-width: 600px) {
  main {
    padding: 0vw 20vw;
  }
}
.headerRestaurant {
  display: flex;
  flex-direction: column;
}

.headerRestaurantTitle {
  z-index: 9;
  justify-content: space-around;
  font-size: 1.8rem;
  font-family: Shrikhand, sans-serif;
  background-color: #f6f6f6;
  margin-top: -30px;
  padding: 30px 20px 0px 20px;
  border-radius: 40px 40px 0px 0px;
  position: relative;
}

.headerRestaurantText {
  padding: 0vw 2vw;
}

.heart-fill {
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menus-heart1 {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  transform-origin: bottom;
  opacity: 1;
  font-size: 24px;
  top: 35px;
  right: 8%;
  cursor: pointer;
}

.menus-heart2 {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  transform-origin: bottom;
  cursor: pointer;
  font-size: 25px;
  top: 35px;
  right: 8%;
}
.menus-heart2:hover {
  opacity: 1;
  transition: opacity 2s;
}
.menus-heart2:hover::after {
  content: "";
  opacity: 1;
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  margin: 0;
  font-size: 1.7rem;
  font-weight: bolder;
  padding: 10vw 0vw 5vw 5vw;
}

main {
  background-color: white;
}

.function {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  margin-left: 1rem;
  align-items: center;
}

.insideFunction {
  display: flex;
  height: 70px;
  width: 90%;
  border-radius: 25px 15px 15px 25px;
  margin-bottom: 3vh;
  background-color: #f6f6f6;
  align-items: center;
  box-shadow: 3px 3px 10px 1px #d4d4d4;
}
.insideFunction:hover {
  cursor: pointer;
  background-color: #f2eafb;
  box-shadow: 10px 10px 10px 1px #d4d4d4;
}
.insideFunction:hover .logoFunction {
  color: #9356DC;
}

.number {
  display: flex;
  border: 2px solid #9356DC;
  border-radius: 100%;
  margin-left: -0.7rem;
  margin-right: 20px;
  width: 19px;
  height: 19px;
  color: white;
  background-color: #9356DC;
  align-items: center;
  justify-content: center;
}

.logo {
  color: grey;
  font-size: 1.2rem;
}

.textFunction {
  padding-left: 20px;
  font-size: 1rem;
}

section {
  background-color: #f6f6f6;
}
section h2 {
  padding-left: 5vw;
}

.sectionLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 600px) {
  .sectionLabel {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.insideLabel {
  position: relative;
  width: 90vw;
  height: 38vh;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 16px #0000002e;
  margin-bottom: 10px;
}
@media screen and (min-width: 600px) {
  .insideLabel {
    width: 40vw;
    margin: 3vw;
  }
}

.photo {
  width: 100%;
  height: 28vh;
  border-radius: 15px 15px 0px 0px;
  text-align: center;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  padding: 30px 0px 60px 0px;
}

section .new {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  font-size: 12px;
  font-weight: bold;
  background: #99E2D0;
  color: #16a072;
  padding: 5px 8px 5px 8px;
}

.subPhoto {
  padding: 10px 15px 0px 15px;
}

.heart1 {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  transform-origin: bottom;
  opacity: 1;
  font-size: 24px;
  bottom: 25px;
  right: 20px;
  cursor: pointer;
}

.heart2 {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  transform-origin: bottom;
  cursor: pointer;
  opacity: 0;
  font-size: 25px;
  bottom: 25px;
  right: 20px;
}
.heart2:hover {
  opacity: 1;
  transition: opacity 2s;
}
.heart2:hover::after {
  content: "";
  opacity: 1;
}

.heart-fill {
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.labelText .labelText1 {
  font-weight: bold;
}

body {
  margin: 0;
  background-color: #f6f6f6;
  font-family: Roboto, sans-serif;
}

.photoMenu {
  width: 100vw;
  height: 35vh;
  text-align: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.labelTitle {
  margin-top: 50px;
  border-bottom: 2px solid #99E2D0;
  width: 35px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.starter,
.main,
.desert {
  padding: 0vw 4vw;
}
@media screen and (min-width: 600px) {
  .starter,
.main,
.desert {
    padding: 0vw 8vw;
  }
}

.starterLabel {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.mainLabel {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.desertLabel {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.starterLabel,
.mainLabel,
.desertLabel {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 3px 3px 10px 1px #d4d4d4;
  position: relative;
  -webkit-animation: slide;
          animation: slide;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.starterLabel .labelMenu,
.mainLabel .labelMenu,
.desertLabel .labelMenu {
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
}
.starterLabel .labelText1,
.mainLabel .labelText1,
.desertLabel .labelText1 {
  font-weight: bolder;
}
.starterLabel .labelText1,
.starterLabel .labelText2,
.mainLabel .labelText1,
.mainLabel .labelText2,
.desertLabel .labelText1,
.desertLabel .labelText2 {
  width: 73vw;
  padding-left: 2vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.starterLabel .labelAside,
.mainLabel .labelAside,
.desertLabel .labelAside {
  display: flex;
  align-items: flex-end;
}
.starterLabel .check,
.mainLabel .check,
.desertLabel .check {
  color: transparent;
}
.starterLabel:hover .labelText1,
.starterLabel:hover .labelText2,
.mainLabel:hover .labelText1,
.mainLabel:hover .labelText2,
.desertLabel:hover .labelText1,
.desertLabel:hover .labelText2 {
  cursor: pointer;
  transition: width 1.5s ease-in;
  width: 65vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.starterLabel:hover .check,
.mainLabel:hover .check,
.desertLabel:hover .check {
  display: flex;
  width: 15vw;
  align-items: center;
  justify-content: center;
  border-radius: 0px 15px 15px 0px;
  color: #99E2D0;
  background-color: #99E2D0;
}
.starterLabel:hover .check i,
.mainLabel:hover .check i,
.desertLabel:hover .check i {
  transition: transform 1s;
  transform: rotate(360deg);
  color: white;
}

.starterLabel {
  opacity: 0;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.mainLabel {
  opacity: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.desertLabel {
  opacity: 0;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.labelAside {
  display: flex;
  align-items: flex-end;
}

.commander {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 170px;
  margin: 50px auto;
  border-radius: 25px;
  color: white;
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 3px 3px 10px 1px #d4d4d4;
}
.commander:hover {
  cursor: pointer;
  box-shadow: 10px 10px 10px 1px #d4d4d4;
  background-image: linear-gradient(#ff93e1, #a16be0);
}

footer {
  padding-left: 5vw;
  padding-top: 5vw;
  background-color: #353535;
  color: white;
  line-height: 2rem;
}
@media screen and (min-width: 984px) {
  footer {
    padding: 2vw 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
footer img {
  width: 150px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(129deg) brightness(106%) contrast(101%);
}

.footerLogo {
  width: 3vw;
  margin-right: 20px;
}
.footerLigne {
  display: flex;
  flex-direction: row;
}

.contact {
  color: white;
}/*# sourceMappingURL=main.css.map */