body{
    margin:0;
    background-color: rgb(246,246,246);
    font-family: Roboto, sans-serif;
}
.photoMenu{
    width:100vw;
    height: 35vh;
    text-align: center;
    object-fit: cover;
}
.labelTitle{
    margin-top: 50px;
    border-bottom: 2px solid $tertiairy;
    width:35px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.starter,
.main,
.desert{
    padding: 0vw 4vw;
    @media screen and (min-width: 600px){
        padding: 0vw 8vw;
    }   



}
.starterLabel{
    animation-delay: 0s;
}
.mainLabel{
    animation-delay: 1s;
}
.desertLabel{
    animation-delay: 2s;
}
.starterLabel,
.mainLabel,
.desertLabel{
    display: flex;
    justify-content: space-between;
    background-color:white;
    margin-bottom: 20px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: $shadow;
   // padding:10px 20px 10px 10px;
    position: relative;
    animation: slide;
    animation-duration: 5s;
    animation-fill-mode: forwards;

   .labelMenu{
       padding:10px 10px 10px 10px;
       display: flex;
       justify-content: space-between;
   }
   .labelText1{
       font-weight: bolder;
   }
   .labelText1,
   .labelText2{
       
       width:73vw;
        padding-left: 2vw;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
    }
    .labelAside{
        display: flex;
        align-items: flex-end;
    }
    .check{
        color:transparent;
    }
    &:hover{
        .labelText1,
        .labelText2{
            cursor: pointer;
            transition: width 1.5s ease-in;
            width:65vw;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }     
        .check{
            display: flex;
            width:15vw; 
            align-items: center;
            justify-content: center;
            border-radius: 0px 15px 15px 0px;
            color: $tertiairy;
            background-color: $tertiairy;
            i{
                transition: transform 1s;
                transform: rotate(360deg);
                color: white;
            }
        }
    }
}
.starterLabel{
    opacity: 0;
    animation-delay: 0s;
}
.mainLabel{
    opacity: 0;
    animation-delay: 1s;
}
.desertLabel{
    opacity: 0;
    animation-delay: 2s;
}
.labelAside{
    display: flex;
    align-items: flex-end;
}
.commander{
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    width:170px;
    margin: 50px auto;
    border-radius: 25px;
    color: white;
    background-image: linear-gradient($secondary,$primary);  
    box-shadow: $shadow;
    &:hover{
        cursor:pointer;
        box-shadow: $hovershadow;
        background-image: linear-gradient(lighten($secondary,5%),lighten($primary,5%)); 
    }
}