body{
    margin:0px;
    font-family: Roboto, sans-serif;
    background-color: rgb(246,246,246);
}
a{
	color:black;
	text-decoration: none;
}
h2{
    font-size: 1.4rem;
    font-weight: bolder;
}
.titleFunction{
    margin: 20px;
}
.function{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    margin-left: 1rem;
    align-items: center;
}
.insideFunction{
    display:flex;
    height:70px;
    width:90%;
    border-radius: 25px 15px 15px 25px;
    margin-bottom: 20px;
    background-color:rgb(246,246,246);
    //border: 1px solid green;
    align-items: center;
    box-shadow: $shadow;
    &:hover{
        cursor: pointer;
        background-color: lighten($primary,35%);
        box-shadow: $hovershadow;
        .logoFunction{
            color:$primary;
        }
    }
}
.number{
    display: flex;
    border: 2px solid $primary;
    border-radius: 100%;
    margin-left: -0.7rem;
    margin-right: 20px;
    width: 19px;
    height: 19px;
    color: white;
    background-color: $primary;
    align-items: center;
    justify-content: center;
    }
.logo{
    color:grey;
    font-size:1.2rem;
}    
.textFunction{
    padding-left: 20px;
    font-size: 1rem;
}    
section{
    background-color: rgb(246,246,246);
    h2{
        padding-left: 5vw; 
    }
}
.sectionLabel{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 600px){
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
    }
}
.insideLabel{
    position: relative;
    width: 90vw; // 340 x 250
    height: 250px;
	border-radius: 15px;
	background-color: white;
    box-shadow: 0 0 16px #0000002e;
    margin-bottom: 10px;
    @media screen and (min-width: 600px){
        width: 40vw;
        margin: 3vw;
     }
 
}
.photo{
    width:100%;
    height: 180px;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
    object-fit: cover;
}
section{
    padding-top: 40px;
}
section .new{
    position: absolute;
    top: 15px;
    right: 15px;
    width:50px;
    font-size: 12px;
    font-weight: bold;
    background: #99E2D0;
    color: #16a072;
    padding: 5px 8px 5px 8px; 
}
.subPhoto{
    padding: 10px 15px 0px 15px;
}
.heart1{
    @include heart;
    opacity:1; 
    font-size: 24px;  
    bottom: 25px;
    right: 20px;
    cursor: pointer;
}    
.heart2{
    @include heart;
    cursor: pointer;
    opacity:0;
    font-size: 25px;  
    bottom: 25px;
    right: 20px;
    &:hover{
        opacity:1;
        transition: opacity 2s;
        &::after{
            content:"";
            opacity:1;
        }   
    }
}
.heart-fill{
    background-image: linear-gradient($secondary,$primary); 
    -webkit-background-clip: text;
    -webkit-text-fill-color :transparent;
}
.labelText{
    .labelText1{
        font-weight: bold;
    }
}