footer{
    padding-left: 5vw;
    background-color: rgb(53, 53, 53);
    color:#fff;
    line-height: 2rem;
    img{
        padding-top: 20px;
        width: 28vw;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(129deg) brightness(106%) contrast(101%);
    }
}
.footerLogo{
    width:5vw;
    margin-right: 0.7rem; 
}
.footerLigne{
    display: flex;
    flex-direction: row;
}
