body{
    margin:0;
    background-color: beige; //rgb(246,246,246);
    font-family: Roboto, sans-serif;
}
.photo{
    width:100vw;
    height: 240px;
    text-align: center;
    object-fit: cover;
}
section{
    padding: 0vh 3vw 0vh 3vw;
}
.heart{
    &:hover{
        color:$secondary;
        //background-image: linear-gradient($secondary,$primary);     
    }
}
.labelTitle{
    margin-top: 50px;
    border-bottom: 2px solid $tertiairy;
    width:35px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.starterLabel{
    animation-delay: 0s;
}
.mainLabel{
    animation-delay: 1s;
}
.desertLabel{
    animation-delay: 2s;
}
.starterLabel,
.mainLabel,
.desertLabel{
    display: flex;
    justify-content: space-between;
    border: 2px solid aqua;
    background-color:#fff;
    margin-bottom: 20px;
    border-radius: 15px 15px 15px 15px;
   // padding:10px 20px 10px 10px;
    position: relative;
    animation: glissement;
    animation-duration: 5s;
    animation-fill-mode: forwards;

   .labelMenu{
       padding:10px 10px 10px 10px;
       display: flex;
       justify-content: space-between;
   }
   .labelText1{
       font-weight: bolder;
   }
   .labelText1,
   .labelText2{
       width:75vw;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
    }
    .labelAside{
        display: flex;
        align-items: flex-end;
    }
    .check{
        color:transparent;
    }
    &:hover{
        .labelText1,
        .labelText2{
            transition: all 1s;
            width:67vw;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }     
        .check{
            width:0px;
            display: flex;
            width:50px; 
            align-items: center;
            justify-content: center;
            border-radius: 0px 15px 15px 0px;
            color: $tertiairy;
            background-color: $tertiairy;
            i{
                transition: transform 1s;
                transform: rotate(360deg);
                color: #fff;
            }
        }
    }
}
.starterLabel{
    opacity: 0;
    animation-delay: 0s;
}
.mainLabel{
    opacity: 0;
    animation-delay: 1s;
}
.desertLabel{
    opacity: 0;
    animation-delay: 2s;
}
.labelAside{
    display: flex;
    align-items: flex-end;
}
.commander{
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    width:170px;
    margin: 50px auto;
    border-radius: 25px;
    color: #fff;
    background-image: linear-gradient($secondary,$primary);  
}