@-webkit-keyframes glissement {
  0% {
    top: 20px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes glissement {
  0% {
    top: 20px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
body {
  margin: 0;
  background-color: beige;
  font-family: Roboto, sans-serif;
}

header {
  width: 100%;
}

.header_logo {
  text-align: center;
  padding: 20px 0px 10px 0px;
  height: 5vh;
}

#logo {
  width: 40vw;
}

#arrow {
  width: 20px;
  height: 20px;
  color: black;
  font-size: large;
  position: absolute;
  top: 20px;
  left: 30px;
}

.headerRestaurant {
  display: flex;
  flex-direction: column;
}

.headerRestaurantTitle {
  display: flex;
  z-index: 9;
  justify-content: space-around;
  font-size: 1.8rem;
  font-family: Shrikhand, sans-serif;
  background-color: beige;
  margin-top: -30px;
  padding: 30px 20px 0px 20px;
  border-radius: 40px 40px 0px 0px;
}

.photo {
  width: 100vw;
  height: 240px;
  text-align: center;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  padding: 0vh 3vw 0vh 3vw;
}

.heart:hover {
  color: #FF79DA;
}

.labelTitle {
  margin-top: 50px;
  border-bottom: 2px solid #99E2D0;
  width: 35px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.starterLabel {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.mainLabel {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.desertLabel {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.starterLabel,
.mainLabel,
.desertLabel {
  display: flex;
  justify-content: space-between;
  border: 2px solid aqua;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 15px 15px 15px 15px;
  position: relative;
  -webkit-animation: glissement;
          animation: glissement;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.starterLabel .labelMenu,
.mainLabel .labelMenu,
.desertLabel .labelMenu {
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
}
.starterLabel .labelText1,
.mainLabel .labelText1,
.desertLabel .labelText1 {
  font-weight: bolder;
}
.starterLabel .labelText1,
.starterLabel .labelText2,
.mainLabel .labelText1,
.mainLabel .labelText2,
.desertLabel .labelText1,
.desertLabel .labelText2 {
  width: 75vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.starterLabel .labelAside,
.mainLabel .labelAside,
.desertLabel .labelAside {
  display: flex;
  align-items: flex-end;
}
.starterLabel .check,
.mainLabel .check,
.desertLabel .check {
  color: transparent;
}
.starterLabel:hover .labelText1,
.starterLabel:hover .labelText2,
.mainLabel:hover .labelText1,
.mainLabel:hover .labelText2,
.desertLabel:hover .labelText1,
.desertLabel:hover .labelText2 {
  transition: all 4s;
  width: 67vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.starterLabel:hover .check,
.mainLabel:hover .check,
.desertLabel:hover .check {
  width: 0px;
  display: flex;
  width: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 0px 15px 15px 0px;
  color: #99E2D0;
  background-color: #99E2D0;
}
.starterLabel:hover .check i,
.mainLabel:hover .check i,
.desertLabel:hover .check i {
  transition: transform 4s;
  transform: rotate(360deg);
  color: white;
}

.starterLabel {
  opacity: 0;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.mainLabel {
  opacity: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.desertLabel {
  opacity: 0;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.labelAside {
  display: flex;
  align-items: flex-end;
}

.commander {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 170px;
  margin: 50px auto;
  border-radius: 25px;
  color: white;
  background-image: linear-gradient(#FF79DA, #9356DC);
}

footer {
  padding-left: 5vw;
  background-color: #353535;
  color: white;
  line-height: 2rem;
}
footer img {
  padding-top: 20px;
  width: 28vw;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(129deg) brightness(106%) contrast(101%);
}

.footerLogo {
  width: 5vw;
  margin-right: 0.7rem;
}

.footerLigne {
  display: flex;
  flex-direction: row;
}/*# sourceMappingURL=menus.css.map */