$primary:#9356DC;
$secondary:#FF79DA;
$tertiairy:#99E2D0;
@keyframes glissement {
    0%{
        top:20px;
        opacity:0;
    }
    100%{
        top:0px;
        opacity:1;
    }   
}
body{
    margin:0;
    background-color: beige; //rgb(246,246,246);
    font-family: Roboto, sans-serif;
}
header{
    width:100%;
}
.header_logo{
    text-align: center;
    padding :20px 0px 10px 0px;
    height:5vh;
}
#logo{
    width: 40vw;
}
#arrow{
    width: 20px;
    height: 20px;
    color: black;
    font-size: large;
    position: absolute;
    top:20px;
    left:30px;
}
.headerRestaurant{
    display: flex;
    flex-direction: column;
}
.headerRestaurantTitle{
    display:flex;
    z-index: 9;
    justify-content: space-around;
    font-size: 1.8rem;
    font-family: Shrikhand, sans-serif;
    background-color:beige; //rgb(246,246,246);
    margin-top: -30px;
    padding : 30px 20px 0px 20px;
    border-radius: 40px 40px 0px 0px;
}
.photo{
    width:100vw;
    height: 240px;
    // border-radius: 15px 15px 0px 0px;
    text-align: center;
    object-fit: cover;
}
section{
    padding: 0vh 3vw 0vh 3vw;
}
.heart{
    &:hover{
        color:$secondary;
        //background-image: linear-gradient($secondary,$primary);  
         
    }
}
.labelTitle{
    margin-top: 50px;
    border-bottom: 2px solid $tertiairy;
    width:35px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.starterLabel{
    animation-delay: 0s;
}

.mainLabel{
    animation-delay: 1s;
}
.desertLabel{
    animation-delay: 2s;
}
.starterLabel,
.mainLabel,
.desertLabel{
    display: flex;
    justify-content: space-between;
    border: 2px solid aqua;
    background-color:white;
    margin-bottom: 20px;
    border-radius: 15px 15px 15px 15px;
   // padding:10px 20px 10px 10px;
    position: relative;
    animation: glissement;
    animation-duration: 5s;
    animation-fill-mode: forwards;

   .labelMenu{
       padding:10px 10px 10px 10px;
       display: flex;
       justify-content: space-between;
   }
   .labelText1{
       font-weight: bolder;
   }
   .labelText1,
   .labelText2{
       width:75vw;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
    }
    .labelAside{
        display: flex;
        align-items: flex-end;
    }
    .check{
        color:transparent;
    }
    &:hover{
        .labelText1,
        .labelText2{
            transition: all 4s;
            width:67vw;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }     
        .check{
            width:0px;
            display: flex;
            width:50px; 
            align-items: center;
            justify-content: center;
            border-radius: 0px 15px 15px 0px;
            color: $tertiairy;
            background-color: $tertiairy;
            i{
                transition: transform 4s;
                transform: rotate(360deg);
                color: white;
            }
        }
    }
}
.starterLabel{
    opacity: 0;
    animation-delay: 0s;
}

.mainLabel{
    opacity: 0;
    animation-delay: 1s;
}
.desertLabel{
    opacity: 0;
    animation-delay: 2s;
}

.labelAside{
    display: flex;
    align-items: flex-end;
}
.commander{
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    width:170px;
    margin: 50px auto;
    border-radius: 25px;
    color: white;
    background-image: linear-gradient($secondary,$primary);  
}
footer{
    padding-left: 5vw;
    background-color: rgb(53, 53, 53);
    color: white;
    line-height: 2rem;    
    img{
        padding-top: 20px;
        width: 28vw;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(129deg) brightness(106%) contrast(101%);
    }
}
.footerLogo{
    width:5vw;
    margin-right: 0.7rem;
}
.footerLigne{
    display: flex;
    flex-direction: row;
}
